@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300&family=Roboto:wght@300;500;700;900&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Montserrat", sans-serif;

}
h1{
  color: #333;
  font-weight: 500;
  margin-bottom: 0px;
}
.output {
  height: 30px;
  color: #333;
  border: 2px solid black;
  font-size: 24px;
  margin: 0 auto;
}
span{
  color: blue;
  font-weight: 600;
  width: 40px;
  display: inline-block;
}
img {
  width: 20px;
  text-decoration: none;
  border: none;
}
.like {
  transform: rotate(180deg);
  padding-top: 8px;
}
.likes {
  transform: rotatey(180deg);
}

.unlike {
  padding-top: 8px;
  margin: 9px;
}
